/* 
 * @file triathlon.css
 * All css stylesheets for ht16zen_triathlon
 * that should override the ht16zen css
 * must be put inside this file.
 */
 
 /***********************************************/
/*Css fuer die Calendar View*/
/***********************************************/
.calendar-calendar .day-view table.full {
  table-layout: fixed;
  width: 99%;
  margin: 0px;
}
.calendar-calendar .week-view table.full {
  table-layout: fixed;
  width: 99%;
  margin: 0px;
}

.view-content .calendar-calendar ul  {
  position: relative;
  top: 0;
}

.view-content .calendar-calendar li.first  {
  margin-left: 0px;
}

.view-content .calendar-calendar .date-prev span.next {
  width: 300px;
}

.view-content .calendar-calendar .date-prev span.next a {
  width: 300px;
}

#content-area .view-content .calendar-calendar .date-prev {
  margin: 0 30px;
}

.view-content .calendar-calendar .date-heading {
  float: left;
}

.calendar-calendar div.day {
  width: auto;
}

#node-data-field-date1-field-date1-value, .view-data-node-data-field-date1-field-date1-value, .view-label-node-data-field-date1-field-date1-value {
  display:none;
}

#main .view-content .calendar-calendar .date-heading {
  top: -3px;
}

.calendar-calendar td .inner div.calendar div,
.calendar-calendar td .inner div.calendar div a {
  background: none;
}

.calendar-calendar .month-view .full td.single-day div.monthview, 
.calendar-calendar .week-view .full td.single-day div.weekview, 
.calendar-calendar .day-view .full td.single-day div.dayview {
  background: none;
}


/***********************************************/
/*CSS fuer Gallery Images*/
/***********************************************/
 
#node-gallery-manage-images-form select {
    width: 180px;
}
#node-gallery-manage-images-form input.form-text {
    width: 174px;
}

/***********************************************/
/*CSS fuer site user list*/
/***********************************************/ 
#content-area table, .sticky-enabled, .sticky-table {
  width: 100%;
}

#content-area table tr.odd {
  background-color: #FFF;
}

#content-area table tr.odd td.active {
  background-color: #FFF;
}

#content-area table tr.even {
  background-color: rgb(245, 245, 245);
}

#content-area table tr.even td.active {
  background-color: rgb(245, 245, 245);
}


/*************************************************/
/* CSS fuer Comments*/
/*************************************************/
.comment .submitted {
    color: #999999;
    font-size: 0.825em;
    margin-bottom: 1.5em;
}

.comment .links {
    font-size: 0.825em;
}


/*************************************************/
/* CSS fuer Suche*/
/*************************************************/
#search-box {
    float: right;
    position: relative;
    right: 7px;
    top: 20px;
}

#search-box input#edit-search-theme-form-1 {
    width: 170px;
    height: 15px;
}

#search-box label {
    display: none;
}

#search.container-inline div, #search.container-inline button {
    vertical-align: middle;
}

/***************************************************/
/* CSS fuer NEWSARCHIVE */
/***************************************************/
.newsarchive .archiv-title {
    color: #A10F15;
    font-size: 1em;
    line-height: 1.2em;
    padding: 10px 0 0;
    text-align: left;
}

.newsarchive td.archiv-views-field-created {
    background-color: transparent;
    height: 1.4em;
    padding-right: 10px;
}

.newsarchive .archiv-table th {
    border-bottom: 3px solid #CCCCCC;
    padding-right: 1em;
    text-align: left;
}

#content-area .newsarchive .archiv-table {
    margin: 0;
    max-width: 99%;
}

.newsarchive .date-views-filter-wrapper {
    width: 310px;
}

/********************************************/
/* CSS fuer Calender Upcoming Events */
/********************************************/
#block-views-calendar_training-block_1 .BlockContent-body {
	padding: 0px;
}

#block-views-calendar_training-block_1 .BlockContent-body ul li.views-row {
	margin: 5px -1px;
}

#block-views-calendar_training-block_1 .BlockContent-body ul li.views-row .views-field-field-date1-value {
    font-size: 0.75em;
}

/********************************************/
/* CSS fuer Trainingstermin */
/********************************************/
.node-type-trainingstermin .calendar_link {
    display: none;
}
